div.Kirsten1 {
  font-family: Verdana, Geneva, sans-serif;
  width: 90%;
  text-align: center;
}
.divTable.Kirsten1 .divTableCell, .divTable.Kirsten1 .divTableHead {
  padding: 4px 2px;
}
.divTable.Kirsten1 .divTableBody .divTableCell {
  font-size: 12px;
  color: #f0f0f0;
}
.divTable.Kirsten1 .divTableCell:nth-child(even) {
}
.divTable.Kirsten1 .divTableHeading {
}
.divTable.Kirsten1 .divTableHeading .divTableHead {
  font-size: 12px;
  font-weight: bold;
  color: #f0f0f0;
}
.Kirsten1 .tableFootStyle {
  font-size: 14px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}



div.Kirsten2 {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #FFFFFF;
  width: 50%;
  text-align: center;
}
.divTable.Kirsten2 .divTableCell, .divTable.Kirsten2 .divTableHead {
  border: 1px solid #F8F4E9;
  padding: 4px 2px;
}
.divTable.Kirsten2 .divTableBody .divTableCell {
  font-size: 12px;
  color: #7C5E8C;
}
.divTable.Kirsten2 .divTableCell:nth-child(even) {
  background: #FFE9DF;
}
.divTable.Kirsten2 .divTableHeading {
  background: #7C5E8C;
}
.divTable.Kirsten2 .divTableHeading .divTableHead {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
}
.Kirsten2 .tableFootStyle {
  font-size: 14px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}



#Font1 {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 30px;
letter-spacing: 2px;
word-spacing: 2px;
color: #7C5E8C;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: uppercase;
}



#Font2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
letter-spacing: 2px;
word-spacing: 2px;
color: #7C5E8C;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: uppercase;
}


#text1 {
text-shadow: -2px 2px 0px #FFE9DF, -4px 4px 0px #F8F4E9, 2px 2px 0px rgba(255,233,223,0);
color: #7C5E8C;
background: #FFFFFF;
